.container{
  .nav-left{
    background-color: #001529;
    color: #ffffff;
    height: calc(100vh);
  }
  .main{
    height: calc(100vh);
    .header-top{
      height: 36px;
      line-height: 36px;
      background-color: #001529;
      color: white;
    }
    .content{
      background: #fff;
      position: relative;
      padding: 10px;
      margin: 6px 4px;
      min-height: 280px;
    }
  }
}